/* Selector de tipo  */


p {
    font-size:80px;
}


/* Selector por id   */
#parrafo-cancer {
    background-color: rgb(105, 191, 218);
    border-radius: 10px;
}

#parrafo-sel-id {
    background-color: rosybrown;
    border-radius: 10px;
}

